*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

/* html, body{
  overflow-x: hidden;
  width: 100%;
  height: 100%
} */
html,body{
  overflow-x: hidden;
}
.box-grey{
  background-color: #f3f0e9;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner img {
    max-width: 85%; 
}

.preheader{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    gap: 5rem;
}

.list ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: lightgrey;
}
.list ul a{
    text-decoration: none;
    font-size: small;
    color: black;
    font-weight: 900;
}

.list ul a:hover{
    color: gray;
}

.preheader__selectors{
    display: flex;
    gap: 0.5rem;
    font-size: small;
}

/* Search */
form.example input[type=text] {
    width: 20rem;
    padding: 10px;
    font-size: small;
    border: 1px solid black;
    float: left;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    padding: 10px;
    color: white;
    font-size: small;
    border: 1px solid black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
    
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Header */
  .header{
    display: flex;
    gap: 2%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .header img{
    width:180px
  }

  /* Nav */
/* Custom CSS to show submenus on hover */
.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

/* Promotion */
.header_promotion i{
  color: lime;
}

.header_promotion{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

/* Device Selector */
.device_selector{
  padding:7%;
  background-image: url("assets/newbanner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.categoryselector{
  background-color: rgba(255, 255, 255, 0.5); /* 0.5 is the alpha value for transparency */
  width: 45%;
  padding: 3%;
  margin-top: 50px;
}

.devices select{
  width: 90%;
}

/* slider */

/* Promo */
.promo{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Devices */
.devices-container{
  margin-top: 1rem;
}

/* device container */
.devices-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.devices-gallery{
  width: 85%;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Device Banner */
.device-banner{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.device-banner img{
  width:100%; 
  height: 360px;
}

/* Top brands head */
.top-brands-head{
  margin-top: 1rem; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.top-brands-head p{
  width: 90%;
  text-align: center;
  margin-bottom: 1rem;
}

.top-brands-banners{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

footer{
  margin-top: 1rem;
  width:100%;
}

.discount-bar{
  margin-top: 2rem;
}

.discount-bar-desc{
  padding: 1rem 0;
  background-color: #312e2e;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.discount-bar-desc p{
  font-size: smaller;
}

.footer-blocks{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-block a{
  text-decoration: none;
  color: black;
}

@media only screen and (max-width :487px){

  .device-banner img{
    width:100%; 
    height: 120px;
  }

  .footer-blocks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .discount-bar{
    display: none;
  }

  .discount-bar-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  form.example input[type=text] {
    width: 15rem;
    font-size: smaller;
    border: 1px solid black;
  }
  
  .top-contacts{
    font-size: smaller;
  }
  
  .preheader{
    display: flex;
    flex-direction: column;
}
.list ul a{
  font-size: x-small;
}

.preheader__selectors{
  display: none;
}

.top-slider-crousel img{
  height: 50px;
}

}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;
}


.modal-content2{
  background-color: white;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto; /* Center horizontally */
  position: relative;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* Modal */


/* Sliding text */

.sliding-text-box{
  background-color: #312e2e;
  color: black;
  margin: 0.8rem 0;
  padding: 0.3rem 0;
  width: 100%;
  overflow: hidden;
}
.sliding-text {
  width: 100%;
  white-space: nowrap;
  animation: slideRight 20s linear infinite;
}


/* Sliding Brand */
.sliding-brand-box{
  color: white;
  margin: 0.8rem 0;
  padding: 0.3rem 0;
  overflow: hidden;
}
.sliding-brand {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  animation: slideRight 20s linear infinite;
}

@keyframes slideRight {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.currency-change{
  display: none;
}

/* Top brand Images */
.top-brand-one a img{
 width: 45%;
}

.top-brand-two a img{
  width: 30%;
 }

/* 620 media Query */
@media (max-width:620px) {
  .top-contacts{
    font-size: smaller;
  }

  .preheader{
    display: flex;
    flex-direction: column;
}
.list ul a{
  font-size: x-small;
}


.discount-bar{
  display: none;
}

.preheader__selectors{
  display: none;
}

.footer-block a{
  font-size: 15px;
}
.currency-change{
  display: block;
}

.top-brand-one a img{
  width: 100%;
  height: 200px;
 }
 
 .top-brand-two a img{
   width: 100%;
  }

.top-brand-one, .top-brand-two{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.device-banner img{
  width:100%; 
  height: 250px;
}

}

/* 1024 Media Query */
@media (max-width:1024px) {
 
  .header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .device_selector{
    padding:7%;
    background-image: url("assets/newbanner.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 900px){
  .device_selector{
    background-image: url("assets/newbanner.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.categoryselector{
  width: 100%;
  padding: 6%;
  margin-top: 0;
}
}

/* Zoom */
.zoom-effect {
  transition: transform 0.3s;
}

.zoom-effect:hover {
  transform: scale(1.09);
}

/* Why Us */
.why-us h2 {
  position: relative;
  margin-bottom: 35px;
}
.why-us h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #e93e32;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin: 0 auto;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(54, 53, 53, 0.1);
  transition: 0.5s;
  position: relative;
  background-color: #f3f0e9;
  max-height: 230px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
}
.why-us .box:hover {
padding: 30px 30px 70px 30px;
box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
background-color: rgba(0, 0, 0, 0.3);
}

.why-us .box span {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  position: absolute;
  right: 10px;
  top: 0px;
  line-height: normal;
}
.why-us .box h4 a {
font-size: 18px;
font-weight: 600;
padding: 0;
margin: 20px 0;
color: #333;
text-decoration: none;
}
.why-us .box p {
color: #aaaaaa;
font-size: 15px;
margin: 0;
padding: 0;
}
.why-us .box:hover span,
.why-us .box:hover h4 a,
.why-us .box:hover p {
  color: #fff;
}
/* Why us */


.bg-light-transparent {
  background-color: rgba(255, 255, 255, 0.74); /* 0.5 is the alpha value for transparency */
}

.contianer-lg-custom{
  width: 95%;
}

/* Product slider */
.products-slider-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 1rem;
}

.products-slider {
  display: flex;
  animation: productSlide 15s linear infinite;
  animation-timing-function: linear;
}

.products-slider img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 10px;
  transition: transform 0.5s;
}

/* .products-slider-container:hover .products-slider {
  animation-play-state: paused;
} */

@keyframes productSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.products-devices-gallery{
  display: flex;
  gap: 1rem;
}

.accessories a{
  text-decoration: none;
}

/* Item 2 CSS */
.top-contacts{
  padding-top: 5px;
  background-color: #312e2e; 
  width: 100%; 
  color: black; 
  display: flex; 
  justify-content: center; 
  gap: 3rem;
}

.top-contacts p i{
  /* color: #028A0F; */
  color: black;
}

/* Products Cards */
.card a{
  width: 80px;
  margin: 0 auto;
}

.container-one h4, .container-two h5{
  font-size: 17px;
}

.card-body{
  text-align: center;
}

/* Item 2 CSS */

/* Product Details */
/* Add your custom CSS here */
.thumbnail-images img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.thumbnail-images img:hover {
  border: 2px solid #007bff;
}

#main-image {
  max-width: 100%;
  height: auto;
}
.product-information{
  display: flex;
  justify-content: center;
}
.product-information-images{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-information-details{
  width: 50%;
}
.main-image img{
  width: 300px;
  height: 300px;
  margin-bottom: 5px;
}
.thumbnail-images img{
  width: 70px;
  height: 70px;
}

@media (max-width: 780px){
  .product-information{
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .product-information-images{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .product-information-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}

.detail-buttons button:hover{
  background-color: #5a5751;
  color: white;
}
/* Product Details */

/* color scheme */
.bg-light-blue{
  background: #007FFF;
}

.bg-green{
  background:#99edc3;
}

.top-contacts{
  background-color:#99edc3;
}

.navbar-custom-color{
  background-color: #99edc3
}

.sliding-text-color{
  background-color: #99edc3;
}

.discount-bar-desc{
  background-color: #99edc3;
  color: black;
}

/* Blogs */
.blogs-container img{
  width: 230px;
  height: 230px;
}

@media (max-width: 765px){
  .blogs-container img{
    width: 100%;
    height: 320px;
  }
}

.top-category-products{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.top-category-products > div{
  display: flex;
  flex-direction: column; 
  transition: transform 0.3s;
}

.top-category-products a{
  text-decoration: none;
  width: 150px;
  font-size: smaller;
}

.top-category-products a img{
  width: 150px;
  height: 150px;
}

.top-category-products > div:hover {
  transform: scale(1.2);
}

/* Media Query only for Product Category */
@media (max-width: 705px){
  .top-category-products a{
    text-decoration: none;
    width: 70px;
    font-size: smaller;
  }
  
  .top-category-products a img{
    width: 80px;
    height: 80px;
  }
  
  .top-category-products > div:hover {
    transform: scale(1.2);
  }

  .why-us .box p {
    color: #aaaaaa;
    font-size: smaller;
    margin: 0;
    padding: 0;
    }

    .recent-products a{
      font-size: xx-small;
    } 
}

@media (max-width: 399px){
  .top-category-products a{
    text-decoration: none;
    width: 60px;
    font-size: x-small;
  }
  
  .top-category-products a img{
    width: 60px;
    height: 60px;
  }
  
  .top-category-products > div:hover {
    transform: scale(1.2);
  }
  
  .why-us .box p {
    color: #aaaaaa;
    font-size: x-small;
    margin: 0;
    padding: 0;
    }

    .device-banner img{
      width:100%; 
      height: 140px;
    }
}

/* Add to cart */



.add-cart-product{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.p-image img{
  width: 50%;
}

.p-details{
  font-size: small;
}
.p-cancel{
  width: 30px;
  height: 30px;
  margin-left: 30px;
  padding: 10px;
  cursor: pointer;
}

/* START: About Page */

.about-banner{
  position: relative;
  text-align: center;
}
.about-banner h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 62px;
}
.about-heading-bar{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-our-mission{
  text-align: center;
}

.our-missions-para{
  width: 80%;
  margin: 0 auto;
}

.evaluation-and-success{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.evaluation-and-success-para p{
  text-align: center;
}

.evaluation-and-success-info{
  width: 40%;
}
.evaluation-and-success-image img{
  width: 350px;
  height: 200px;
}
.company-info{
  display: flex; 
  justify-content: space-evenly; 
  flex-wrap: wrap; 
  padding: 5%;
}
.company-about{
  width: 60%;
}
/* END: About Page */

/* START: Product Details QNA */
.qna-comments{
  width: 60%; 
  display: flex; 
  justify-content: space-between;
}

#comment{
  padding: 10px;
  width: 80%;
}


.comment-visible{
  display: flex;
  gap: 1rem;
}

.comment-visible p{
  padding: 10px;
  background-color: white;
  color: black;
}

.comment-visible img{
  width: 10%;
  border-radius: 50%;
}

/* START: Product Details QNA */

/* START: Product-cards */
.product-cards-container {
  display: flex; 
  gap: 1rem; 
  flex-wrap: wrap;
  justify-content: center;
}
.product-card a img,.product-card-details{
  width: 280px;
}

@media (max-width:700px){
  .product-card a img,.product-card-details{
    width: 250px;
  }

  .evaluation-and-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .evaluation-and-success-info{
    width: 90%;
  }
  .evaluation-and-success-image img{
    width: 500px;
    height: 200px;
  }

  .evaluation-and-success-info h1{
    text-align: center;
  }

  .company-info{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 5%;
  }
  .company-about{
    width: 100%;
  }

  .qna-comments{
    width: 100%; 
    display: flex; 
    justify-content: space-between;
  }
}

@media (max-width:545px){
  .product-card a img,.product-card-details{
    width: 110px;
  }

  .product-card-details{
    font-size: 10px;
  }

  .evaluation-and-success-image img{
    width: 355px;
    height: 200px;
  }

  .about-banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 38px;
  }
}
/* END: Product Cards */